apiVersion: carto.run/v1alpha1
kind: Workload
metadata:
  name: multi-cluster-demo
  labels:
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/part-of: multi-cluster-demo
spec:
  params:
  - name: annotations
    value:
      autoscaling.knative.dev/minScale: "1"
  - name: gitops_repository
    value: git@github.com/Mpluya/config-multi-cluster-demo
  - name: gitops_branch
    value: main
  - name: gitops_commit_message
    value: "bump"
  - name: gitops_user_name
    value: gitops_bot
  - name: gitops_user_email
      value: "gitops_bot@example.com"
  source:
    git:
      url: https://github.com/sample-accelerators/multi-cluster-demo
      ref:
        branch: main
